# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
C:\Users\muham\OneDrive\Dokumen\Html_1\peraktekj.js\Belajar.2022\dart-sdk\dart_application_1\bin\codewars\codewars-42.dart